
body{
  min-height: 100vh;
  height: fit-content;
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    margin: 15px;
  }
}

img{
  height: 30vh;
  width: 180px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
  border-radius: 10px;
  margin: 10px;
}

.player-container, .dealer-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  .score{
    height: 50px;
    width: 50px;
    background-color: #035516;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    margin-left: 10px;
  }
}
.btn{
  width: 100px;
  height: 40px;
  margin: 0 15px 0 15px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 40%);
  background-color: rgba(3, 107, 13, 0.615);
}
.btn:hover{
  color: antiquewhite;
  background-color: rgba(1, 40, 5, 0.615);
  cursor: pointer;
}